@import "@utils/colors.scss";

.right-sidebar {
    &__wrapper {
        height: 100vh;
        background-color: white;
        height: 100vh;
        overflow-y: scroll;
        padding: 16px 20px 32px 20px;
        min-width: 250px;
    }

    &__slider-wrapper {
        display: flex;
        align-items: center;
    }

    &__slider {
        width: 125px;
    }

    &__slider-value {
        margin-left: 24px;
    }

    &__header {
        margin-bottom: 24px;
    }

    &__setting-label {
        padding-bottom: 4px;
        font-size: 1rem;
    }

    &__setting-wrapper {
        padding: 8px 0px;
    }
}