.mousetrail {
    &__wrapper {
        // animation: fadeInAnimation ease 1s;
        // animation-iteration-count: 1;
        // animation-fill-mode: forwards;
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}